@media only screen and (max-width : 1466px){

    body{
        background:#fff;
        margin:0;
    }
    
    /*---navbar*/
    
    header{
        position: relative;
        top: 0;
        /* width: 100%; */
        max-width: 1170px;
        margin: 0 auto;
    }
    
    nav {
        background-color: transparent;
        padding-top: 56px;
        /* padding-left: 135px;
        padding-right: 48px;
        text-align: center; */
        /* position: sticky; */
        /* top: 0; */
        /* display: inline; */
    }

 nav img {
     margin: 1em 0;
     position: absolute;
     /* margin-top: 45px;
     margin-left: -45px; */
    }
    
    .menu{
        text-align: right;
    } 
    nav ul{
        /* margin-left: 420px; */
        margin-right:-1em;
    }
    
    nav li {
        display: inline;
        list-style-type: none;
        margin: 1em;
    }
    
    nav a{
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 400;
        text-decoration: none;
        color: #000000;
        margin-top: 0px;
    }
    
    /*---section*/
    .flex{
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        max-width: 1170px;
        margin: 0 auto;
    }
    .kiri{
        /* margin-left: 135px; */
        padding-top:100px;
        width:50%;
        position: relative;
        box-sizing: border-box;
    }
    
    .kiri h1{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 1.25em;
        color: #444444;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(15px);
    }
    
    .kiri p{
        font-family: Poppins; 
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.5em;
        color: #959595;
        margin-right:154px;
        padding-top: 46px
    }

    .shape a{
        text-decoration: none;
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #ffffff;
        padding: 5px 10px;
    }

    .shape{
        position: relative;
        top: 0px;
        background: #196046;
        padding: 22px 48px;
        display: inline-block;
        margin-top:66px;
    }

    .shape .garis{
        position: relative;
        width: 92px;
        height: 1px;
        /* left: 371px;
        top: 710px; */
        border: 2px solid #FAE499;
    }

    .kanan{
        /* position: absolute; */
        width: 50%;
        box-sizing: border-box;
    }

    .kanan .satu{
        /* width: 670px;
        height: 750px;
        left: 634px; */
        z-index: -1;
        margin-left: -85px;
        margin-top: 70px;
    }

    /*---section2*/
    section .wwa{
        padding-top: 212px;
    }

    .wwa h5{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #8BD19E;
        /* padding-top: 212px; */
    }

    .wwa h2{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 1.2em;
        text-align: center;
        color: #444444;
        padding: 44px 71px 0;
    }

    /* ---section3*/
    .galeri{
        padding-top: 105px;
    }

    .left{
        padding-right: 30px;
        width: 42.7%;
        box-sizing: border-box;
    }

    .foto1{
        margin-right: 30px;
        width: 100%;
    }

    .right{
        width: 57.3%;
        box-sizing: border-box;
    }

    .galeri-row{
        display: flex;
        box-sizing: border-box;
    }

    .gal{
        width: 44.7%;
        padding-right: 30px;
    }

    .foto2{
        display: block;
        width: 100%;
    }

    .ler{
        width: 55.3%;
        /* padding-left: 15px;*/
    }

    .foto3{
        display: block;
        /* width: 100%; */
        padding-bottom: 30px;
    }

    .image{
        width: 25%;
    }

    .foto4{
        display: block;
        /* padding-right: 30px; */
    }
    .photo{
        width: 75%;
    }

    .foto5{
        display: block;
        margin-left: 30px;
    }

    /* ---section4 */
    .our-space{
        margin-top: -135px;
        background:#196046;
    }

    .siji{
        padding-top:190px;
    }

    .kiwa{
        box-sizing: border-box;
        width: 70%;
    }

    .judul h1{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 1.2em;
        color: #ffffff;
    }

    .nomer1{
        display:flex;
        padding-top: 105px; 
        padding-left: 80px;
    }
    .nomer2{
        display:flex;
        padding-top: 105px;
        padding-left: 80px;
    }

    .kiwa .a{
        box-sizing: border-box;
        width: 50%;
    }

    .kiwa .b{
        box-sizing: border-box;
        width: 50%;
    }

    .kiwa h5{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 52px;
        color: #ffffff;
        text-align: left;
        margin: 0;
        padding-bottom: 10px;
    }

    .kiwa p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 39px;
        color: #BCD2BD;
        margin: 0;
        padding: 0;
    }

    .paragraph p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.5em;
        color: #ffffff;
        margin: 50px 0 0 0;
        padding: 0 0 73px 0;
    }

    .gambar{
        margin-bottom:-130px;
    }

    /* ---section5*/
    .testimonial{
        margin-top:160px;
        /* display: block; */
    }

    .test h2{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #8BD19E;
        text-align: center;
    }
    .test h1{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 1.25em;
        text-align: center;
        color: #444444;
        text-align: center;
        margin-top: 46px;
        margin-bottom: 82px;
    }

    .testi{
        background: #F4FBF2;
        box-sizing: border-box;
        /* margin: 0 15px; */
        width: 33.3%;
        display: table-cell;
        /* padding: 16px; */
        /* display: block;
        width: 100%; */
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        padding-bottom: 156px;
    }
    .row{
        /* display: table; */
        width: 100%;
    }

    .row p{
        margin: 35px 31px 0 32px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.5em;
        color: #4C4C4C;
    }
    .title{
        padding-left: 110px;
        bottom: 40px;
        position: absolute;
    }

    .title .nama{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #4C4C4C;
        margin: 0;
        /* padding-left: 110px; */
    }

    .title .stts{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #4C4C4C;
        margin: 0;
        /* padding-left: 110px; */
    }

    .title img{
        position: absolute;
        left: 32px;
        bottom: -6px
    }

    /* ---section6 */
    .promo{
        background:#196046;
        margin-top: 200px;
    }

    .kr{
        width: 70%;
        margin-top: 119px;
        box-sizing: border-box;
        position: relative;
    }

    .knn{
        width:30%;
        box-sizing: border-box;
    }
    .kr .prm{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #8BD19E;
        margin: 0;
    }

    .kr .klmt{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 1.25em;
        color: #FFFFFF;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0;
    }

    .knn img{
        display: block;
        margin-top: 70px;
        margin-left: 8px;
    }

    .kr .btn{
        background: #2C976D;
        border:none;
        padding:20px 70px;
    }

    .kr .btn{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        position: absolute;
        right: 104px;
        margin: 17px;
    }

    .kr .email{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #959595;
        padding: 35px 390px 35px 28px;
    }

    form{
        position: relative;
    }

    /* ---footer */
    footer{
        padding:120px 0 123px;
    }

    .desc{
        width: 40%;
    }

    .desc h3{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #8BD19E;
        margin: 0
    }

    .desc p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.5em;
        color: #959595;
        margin: 57px 110px 0 0;
    }

    .info{
        width: 20%;
    }

    .info .tiga{
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin: 0;
    }

    .pilihan a{
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #959595;
    }

    .pilihan{
        margin-top:57px;
    }

    .sosmed{
        margin-top:56px;
    }

    .sosmed img{
        padding-right: 43px;
    }

}

/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {} */
/* @media only screen and (min-width : 768px) {} */

@media only screen and (max-width : 1024px) {

    /* header */
    header {
        max-width: 800px;
        /* margin: 0 auto; */
    }

    nav img{
        margin:1em 0;
        z-index: 1;
    }

    .menu{
        text-align:right;
    }

    nav ul{
        /* margin-left:300px; */
        margin-right:-1em;
    }

    nav a{
        font-size:18px;
    }

    /* section */
    .flex{
        max-width: 800px;
    }
    
    .kiri h1{
        font-size: 36px;
        padding-bottom: 0;
    }

    .kiri p{
        font-size:16px;
        /* padding-top:39px; */
        margin-right: 85px;
        padding-top: 15px;
    }

    .shape{
        padding: 11px 24px;
        margin-top: 33px;
    }

    .shape a{
        font-size: 12px;
        padding: 4px 8px;
    }

    .kanan .satu{
        width: 457px;
        /*  width:100%; */
        margin-left: -57px;
    }
    
    /* section2 */

    section .wwa{
        padding-top:80px;
    }

    .wwa h5{
        font-size:22px;
    }

    .wwa h2{
        font-size: 30px;
        /* line-height: 30px; */
        padding: 22px 33px;
    }

    /* section3 */

    .left{
        padding-right: 20px;
    }

    .gal{
        padding-right: 20px;
        width:40.7%;
    }

    .foto3{
        padding-bottom: 20px;
        width: 100%;
    }

    .image{
        padding-right: 20px;
        width:27.5%;
    }

    .foto4{
        width:100%;
    }

    .photo{
        width:75.7%;
    }

    .foto5{
        width:100%;
        margin: 0;
    }
    /* section4 */

    .kiwa{
        width: 60%;
    }

    .judul h1{
        font-size: 32px;
        /* line-height:35px; */
    }

    .nomer1{
        padding: 30px 0 0 70px;
    }
    
    .kiwa h5{
        font-size:30px;
        line-height:30px;
    }

    .kiwa p{
        font-size:20px;
        line-height:25px;
    }

    .nomer2{
        padding:30px 0 0 70px;
    }
     
    .tengen{
        width:40%;
        padding-left: 35px;
    }

    .paragraph p{
        font-size:12px;
        /* line-height:23px; */
        margin: 40px 0 0 0;
        padding: 0 0 45px 0;
    }

    .gambar .gmbr{
        width:275px;
        margin-bottom: 47px;
    }

    /* section5 */

    .testimonial{
        margin-top:125px;  
    }

    .test h2{
        font-size:22px;
    }

    .test h1{
        font-size:30px;
    }

    .testi{
        width:100%;
    }

    .row p{
        margin: 25px 16px 0 16px;
        font-size: 15px;
        /* line-height:18px; */
    }

    .title{
        padding-left: 85px;
        bottom: 30px;
    }

    .title img {
        left: 16px;
        bottom: -5px;
    }

    .title.nama{
        font-size:11px;
        line-height:15px;
    }

    .title .stts{
        font-size: 11px;
        line-height:15px;
    }

    /* section6 */

    .form{
        margin-bottom: 109px;
    }

    .promo{
        margin-top:120px;
    }
    .kr .prm{
        font-size: 22px;
    }

    .kr .klmt{
        font-size: 35px;
        /* line-height: 35px; */
        padding: 25px 0;
    }

    .kr .email{
        font-size: 22px;
        line-height: 25px;
        padding: 25px 215px 25px 25px;
    }

    .kr .btn{
        font-size: 22px;
        line-height: 25px;
        right: 40px;
        margin: 13px;
        padding: 10px 35px;
        top: 4px;
    }

    .knn img{
        width: 323px;
        margin-left: -85px;
    }

    /* footer */

    .desc h3{
        font-size: 22px;
        line-height: 25px;
    }

    .desc p{
        font-size: 19px;
        /* line-height: 20px; */
        margin: 50px 50px 0 0;
    }

    .sosmed{
        margin-top:15px;
    }

    .sosmed img{
        padding-right: 35px;
        width: 30px;
    }

    .info .tiga{
        font-size: 22px;
        line-height: 25px;
    }

    .pilihan{
        margin-top:45px;
    }

    .pilihan a{
        font-size: 19px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .flex{
        max-width: 660px;
    }
    /* header */
    header{
        max-width: 660px;
    }

    /* section1 */
    .kiri h1{
        font-size:29px;
    }

    .kiri p{
        font-size:12px;
    }

    .kanan .satu{
        width: 389px;
    }

    /* section2 */
    section .wwa{
        padding-top:50px;
    }

    .wwa h5{
        font-size: 20px;
    }

    .wwa h2{
        font-size:24px;
    }

    /* section3 */
    .galeri{
        padding-top: 50px;
    }

    /* section4 */
    .our-space{
        margin-top: -90px;
    }

    .siji{
        padding-top:120px;
    }

    .judul h1{
        font-size:25px;
    }

    .nomer1{
        padding:20px 0 0  35px;
    }

    .kiwa h5{
        font-size:25px;
    }

    .kiwa p{
        font-size:18px;
    }

    .nomer2{
        padding:20px 0 0 35px;
    }

    .paragraph p {
        margin: 40px 0 0 -22px;
    }

    .gambar{
        margin-left: -25px;
    }

    /* section5 */
    .test h2{
        font-size: 20px;
    }

    .test h1{
        font-size:28px;
        margin-bottom: 60px;
    }

    .row p{
        font-size:14px;
    }

    .title {
        padding-left: 75px;
        bottom: 29px;
    }

    .title .nama{
        font-size: 14px;
    }

    .title .stts{
        font-size: 14px
    }

    /* section6 */
    .kr .prm{
        font-size: 20px;
    }

    .kr .klmt{
        font-size: 28px;
    }

    .kr .email{
        font-size: 20px;
        padding: 14px 170px 14px 14px;
    }

    .kr .btn{
        padding: 5px 25px;
        font-size: 14px;
        top: 1px;
        right: 23px;
        margin:10px;
    }

    .knn img{
        width: 283px;
    }

    /* footer */
    footer{
        padding-top: 50px;
    }
    .desc h3{
        font-size: 20px;
    }

    .desc p{
        font-size:15px;
        margin: 40px 50px 0 0;
    }

    .pilihan{
        margin-top: 40px;
    }

    .info .tiga{
        font-size: 20px;
    }

    .sosmed{
        margin-top:15px;
    }

    .pilihan a{
        font-size: 15px;
    }
}

@media only screen and (max-width:479px) {
    .flex{
        /* max-width: 400px; */
        max-width: 100%;
        padding-left:20px;
        padding-right: 20px;
    }
    /* header */
    header{
        /* max-width:  400px; */
        margin-top: -25px;
        max-width: 100%;
        padding-left:20px;
        padding-right: 20px;
    }

    nav img{
        width: 30%;
    }

    nav ul{
        margin-top: 10px;
        margin-right: 0em;
    }

    nav li{
        margin: 1px;
    }

    nav a{
        font-size:14px;
    }
    /* section1 */
    .kiri{
        padding-top:30px;
    }
    .kiri h1{
        font-size:18px;
    }
    .kiri p{
        margin-right: 6px;
    }
    .shape{
        padding: 5px 15px;
        margin-top:5px;
    }
    .shape a{
        padding:2px 4px;
    }
    .kanan .satu{
        width: 90%;
        margin-left: 20px;
        margin-top: 25px;
    }
    /* section2 */
    section .wwa{
        padding-top:25px;
    }
    .wwa h5{
        font-size:18px;
    }
    .wwa h2{
        font-size:20px;
        padding: 0 30px;
    }
    /* section3 */
    .left {
        padding-right: 10px;
    }
    .gal{
        padding-right: 10px;
    }
    .foto3{
        padding-bottom: 10px;
    }
    .image{
        padding-right: 10px;
    }
    /* section4 */
    .our-space{
        margin-top:-50px;
    }
    .siji{
        padding-top:65px;
        flex-direction: column;
    }
    .kiwa{
        width:100%;
    }
    .judul h1{
        font-size:22px;
    }
    .nomer1{
        padding: 0;
    }
    .nomer2{
        padding: 0;
    }
    .kiwa h5{
        padding: 0;
        font-size:18px;
    }
    .kiwa p{
        font-size:12px;
    }
    .paragraph p{
        padding:0 0 0 0;
        margin: 15px 0 0 0;
    }
    .gambar .gmbr{
        width:100%;
        margin-bottom: 85px;
    }
    .tengen{
        width: 100%;
    }
    .paragraph{
        width:50%;
    }
    .gambar{
        width: 50%;
        margin-left: 0;
        margin-top: 10px;
    }
    .gambar .gmbr{
        width:100%;
    }
    /* section5 */
    .testimonial{
        margin-top:75px;
    }
    .test h2{
        font-size:18px;
    }
    .test h1{
        font-size:24px;
        padding:0 35px;
        margin: 0;
    }
    .row{
        flex-direction:column;
        padding-top: 50px;
        box-sizing: border-box;
    }
    .testi{
        margin: 0 0 20px 0;
        padding-bottom: 100px;
    }
    .title img{
        bottom: -10px;
    }
    .title .nama{
        padding-left: 15px;
    }
    .title .stts{
        padding-left: 15px;
    }
    /* section6 */
    .promo{
        margin-top:50px;
    }
    .kr{
        margin-top: 50px;
    }
    .kr .prm{
        font-size:18px;
    }
    .kr .klmt{
        font-size:20px;
    }
    .kr .email{
        font-size:18px;
        padding: 10px 100px 10px 10px;
    }
    .kr .btn{
        font-size: 12px;
        top: 1px;
        right: -33px;
        margin: 6px;
    }
    .knn img{
        width:189px;
        margin-left:-69px;
        margin-top: 35px;
    }
    /* footer */
    .desc h3{
        font-size:14px;
    }
    .desc p{
        font-size:12px;
        margin: 30px 20px 0 0;
    }
    .sosmed img{
        padding-right: 20px;
        width: 15px;
    }
    .info .tiga{
        font-size:14px;
    }
    .pilihan{
        margin-top:26px;
    }
    .pilihan a{
        font-size:12px;
        line-height: 1em;
    }
}